{% extends 'base.html.twig' %}

{% block title %}Dane{% endblock %}

{% block body %}
    <h1>Porównanie każdy do każdego - szczegóły</h1>
    <hr>
    {% if app.flashes('error') is defined %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-12 m-b-md">
            <button id="recalculate-results" class="btn btn-info pull-left">
                <i class="fa fa-spinner">&nbsp;</i>
                Przelicz dane
            </button>
            <a class="btn btn-default pull-right" href="{{ path('_compare_all_to_all_excel') }}">
                <i class="fa fa-file-excel-o">&nbsp;</i>
                Eksportuj do XLS
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="table" class="table table-bordered table-striped" style="white-space: nowrap">
                    <thead>
                        <tr>
                            <th>Lp.</th>
                            <th>UID</th>
                            <th>Potencjalne pokrewieństwo</th>
                            <th>Szczegóły</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, cd in comparedData %}
                            <tr>
                                <td>{{ key+1 }}.</td>
                                <td>{{ cd.uid }}</td>
                                <td>{{ cd.numberOfRelationship }}</td>
                                <td>
                                    <button class="btn btn-default details-button" data-json="{{ cd.differentAllelUids }}" data-current-uid="{{ cd.uid }}" onclick="getRowDetails( this )">Szczegóły</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#table').DataTable( {
                ordering: true,
                searching: true
            } );

            $('#recalculate-results').on( 'click', areYouSure );

        });

        function areYouSure()
        {
            var userIsSure = confirm("Czy jesteś pewien, że chcesz ponownie przeliczyć wyniki? Może to zająć dużo czasu.");

            if (userIsSure) {
                recalculateAgainAjaxCallback();
            }
        }

        function recalculateAgainAjaxCallback()
        {
            $.ajax({
                method: 'POST',
                url: '{{ path('_compare_all_to_all_again') }}',
                beforeSend: function() { $('#wait').show(); },
                complete: function() { $('#wait').hide(); }
            }).done(function(data) {

                if (data.success === false)
                {
                    alert('Podczas przeliczania wystąpił błąd. Strona zostanie za chwilę odświeżona. Error: ' + data.message );
                }

                location.reload();
            });
        }

        function getRowDetails(buttonThis)
        {

            var jsonUids = $( buttonThis ).data('json');
            var currentRowUid = $( buttonThis ).data('currentUid');

            $( '.modal-title' ).html('Szczegóły rekordu UID: ' + currentRowUid );
            $( '.modal-body' ).html(
                '<h5>Lista identyfikatorów spokrewnionych osób:</h5>' +
                '<p>' + jsonUids.join(', ') + '</p>'
            );

            $( '#mainModal' ).modal('show');

        }
    </script>
{% endblock %}