{% extends 'base.html.twig' %}

{% block title %}Dane{% endblock %}

{% block body %}
    <h1>Porównanie All to All - szczegóły</h1>
    {% if app.flashes('error') is defined %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="table-responsive">
        <table id="table" class="table table-bordered table-striped" style="white-space: nowrap">
            <thead>
                <tr>
                    <th>Lp.</th>
                    <th>UID</th>
                    <th>Potencjalne pokrewieństwo ( x <= 3 )</th>
                    <th>Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                {% for key, cd in comparedData %}
                    <tr>
                        <td>{{ key+1 }}.</td>
                        <td>{{ cd.uid }}</td>
                        <td>{{ cd.numberOfRelationship }}</td>
                        <td>
                            <button class="btn btn-default" data-id="{{ cd.id }}">Szczegóły</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('#table').DataTable( {
                ordering: true,
                searching: true
            } );
        });
    </script>
{% endblock %}